<h2 style="color: #ffffff;">Tables</h2>

<kendo-grid
        [data]="gridData"
        [pageable]="true"
        [pageSize]="20"
        [skip]="0"
        [filterable]="true"
        [selectable]="true"
>
  <kendo-grid-checkbox-column [style]="{ 'width': '20px' }"></kendo-grid-checkbox-column>
  <kendo-grid-column [style]="{ 'width': '20px' }" field="ProductID" title="ID"> </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Name"> </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category"> </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price"> </kendo-grid-column>
</kendo-grid>